# Ignore all .project files
*.project
*.spec
*.zip

# Ignore project directories
projects/
autosave/
compare/
build/
dist/
New Folder/
Node_modules/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
File.py
last_report.json
app_starts.json
users.json